.formContainer {
  color: #A2A2A2;
}

.formContainer input,
.formContainer textarea {
  /* border: 1px solid #A2A2A2; */
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

/* .customCheckboxLabel {
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  color: red;
}

.customCheckboxLabel input {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  align-content: center;
  vertical-align: middle;
  padding: 2px;
  background-color: red;
}

.customCheckboxLabel span {
  display: inline-flex;
} */