.trademarkCover {
  justify-content: center;
  background-color: #292929;
  width: 100%;
  padding: 1.5em 2em;
}

.trademarkCover h5,
.trademarkCover p {
  text-align: center;
  color: #cbcbcb;
  font-size: 1em;
  font-weight: 300;
}

.trademarkCover h5 {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .trademarkCover {
    padding: 1em;
  }

  .trademarkCover h5 {
    font-size: 0.9em;
  }

  .trademarkCover p {
    font-size: 0.8em;
  }
}