.navbar {
  z-index: 5;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.8rem;
  font-size: 1.4rem;
  color: white;
  width: 100%;
  padding: 10px 20px;
}

.loginButton {
  font-size: 1rem;
  padding: 6px 27px;
  border-radius: 20px;
  background-color: white;
  color: black;
  font-weight: 500;
}

.icon {
  cursor: pointer;
}
