.searchBarContainer {
  display: flex;
  align-items: center;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 25px;
  padding: 5px 10px;
  background-color: transparent;
  width: 100%;
  max-width: 700px;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}
.searchBarInput {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}
.searchBarButton {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 2em;
  display: flex;
  align-content: center;
}
.searchResults {
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.resultItem {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.resultItem:last-child {
  border-bottom: none;
}
.resultsEnter {
  max-height: 0;
  overflow: hidden;
}
.resultsEnterActive {
  max-height: 500px; /* Adjust as needed */
  transition: max-height 300ms ease-in;
}
.resultsExit {
  max-height: 500px; /* Adjust as needed */
}
.resultsExitActive {
  max-height: 0;
  transition: max-height 300ms ease-out;
}
