.searchBarContainer {
  display: flex;
  align-items: center;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 25px;
  padding: 5px 10px;
  background-color: transparent;
  width: 100%;
  max-width: 700px;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  margin-bottom: 20px;
}

.searchBarInput {
  flex: 1;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.searchBarButton {
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 2em;
  display: flex;
  align-content: center;
}

@media (max-width: 768px) {
  .searchBarContainer {
    flex-direction: column;
    padding: 10px;
  }

  .searchBarInput {
    width: 100%;
    margin-bottom: 10px;
  }

  .searchBarButton {
    font-size: 1.5em;
  }
}