@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
}


.no-word-break {
  white-space: nowrap;
  word-wrap: normal;
  overflow-wrap: normal;
}

@media (max-width: 425px) {
  .no-word-break {
    white-space: unset;
    word-wrap: unset;
    overflow-wrap: unset;
  }
}