@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  background: hsla(37, 76%, 21%, 1);
  background: radial-gradient(circle, hsla(37, 76%, 21%, 1) 0%, hsla(36, 75%, 14%, 1) 50%, hsla(37, 76%, 8%, 1) 100%);
  background: -moz-radial-gradient(circle, hsla(37, 76%, 21%, 1) 0%, hsla(36, 75%, 14%, 1) 50%, hsla(37, 76%, 8%, 1) 100%);
  background: -webkit-radial-gradient(circle, hsla(37, 76%, 21%, 1) 0%, hsla(36, 75%, 14%, 1) 50%, hsla(37, 76%, 8%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#5E3F0D", endColorstr="#402A09", GradientType=1 );
  z-index: -1;
}

.no-word-break {
  white-space: nowrap;
  word-wrap: normal;
  overflow-wrap: normal;
}

@media (max-width: 425px) {
  .no-word-break {
    white-space: unset;
    word-wrap: unset;
    overflow-wrap: unset;
  }
}
