@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Display", serif;
  font-optical-sizing: auto;
  background: radial-gradient(
    82.08% 117.11% at 53.09% 43.75%,
    rgba(87, 54, 0, 0.95) 0%,
    #000000 100%
  );
}

.no-word-break {
  white-space: nowrap;
  word-wrap: normal;
  overflow-wrap: normal;
}

@media (max-width: 425px) {
  .no-word-break {
    white-space: unset;
    word-wrap: unset;
    overflow-wrap: unset;
  }
}
