.bottom-cover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #252525;
  z-index: 2;
  margin-top: 8em;
  color: #c6c6c6;
  padding: 3rem;
}

.bottom-cover .welcome-cover,
.bottom-cover .contact-cover {
  max-width: 50%;
  padding: 0 1em;

}

.bottom-cover .contact-cover h1,
.bottom-cover .welcome-cover h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0.5em;
}

.bottom-cover .welcome-cover p {
  font-size: 1em;
  font-weight: 100;
  text-align: justify;
}

.bottom-cover .contact-cover p {
  font-size: 1.1em;
  font-weight: 200;
  display: block;
}

@media (max-width: 768px) {
  .bottom-cover {
    flex-direction: column;
  }

  .bottom-cover .welcome-cover,
  .bottom-cover .contact-cover {
    max-width: unset;
    padding: 0;
    width: 100%;
  }

  .bottom-cover .contact-cover h1 {
    margin: 0.5em 0;
  }
}