.contactUsContainer {
  max-width: 50%;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #c6c6c6;
}

.contactUsContainer h1 {
  font-size: 2.5rem;
  font-weight: 300;
}

.contactUsDetails {
  font-size: 1.1em;
  font-weight: 200;
  display: block;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  column-gap: 1em;
  margin-top: 0.5em;
}

@media (max-width: 768px) {
  .contactUsContainer {
    max-width: unset;
    padding: 0;
    width: 100%;
  }

  .contactUsContainer h1 {
    margin: 0.5em 0;
  }
}